<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <!-- 引入 logback 配置文件 -->
	<property resource="logback.properties" />

	<!--控制台输出 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method\(\):%L -%msg%n</pattern>
		</encoder>
	</appender>
	<!--文件输出 -->
	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <File>${log.base}comment.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}comment.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
            <append>true</append>
            <!-- 文件存储的最大时间，10天 -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date|%msg%n</pattern>
        </encoder>
    </appender>

    <!-- geelynote mybatis log 日志 : dao层的sql就会打印到日志 -->
    <logger name="cn.xiaochi.dao" level="${log.level}"/>

    <!-- TRACE < DEBUG < INFO < WARN < ERROR -->
    <root>
        <level value="${log.level}" />
        <appender-ref ref="${log.appender.ref}" />
    </root>
</configuration>