<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 自动扫描的包名 -->
	<context:component-scan base-package="cn.xiaochi.controller"/>

	<!-- 开启注解映射的支持 -->
	<mvc:annotation-driven/>
	<!-- 允许对静态资源文件的访问 --> 
<!--	<mvc:default-servlet-handler/>-->
	<!-- 配置视图解析器 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/webapp/WEB-INF/"/>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 配置文件上传
		SpringMVC上传文件时，需要配置MultipartResolver处理器
		**重点：
			此处的 id="multipartResolver" 必须写上，否则接收不到参数 CommonsMultipartResolver
	 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设定默认编码 -->
		<property name="defaultEncoding" value="utf-8" />
		<!-- 设定文件上传的最大值5MB，5*1024*1024 -->
		<property name="maxUploadSize" value="5242880"/>
		<property name="maxInMemorySize" value="40960" />
	</bean>
</beans>